body {
  margin: 0;
  font-family: Arial;
  background: #f4f6fb;
}

.topbar {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
}

.hero {
  padding: 60px 20px;
  text-align: center;
}

.section {
  padding: 40px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.callbtn {
  background: #0d6efd;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.ai {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat {
  background: white;
  padding: 10px;
  width: 200px;
  margin-top: 10px;
}
